/*
 *  ONE STYLE SHEET FOR ALL PAGES BECAUSE I
 *  DON'T KNOW WHAT EFFICIENT CSS LOOKS LIKE
 */


/*
 *  MAJOR PAGE ELEMENTS
 */

body {
    background: url("/images/night_sky.jpg");
    background-color: black;
    font: 100%/125% "Verdana", sans-serif;
    color: white;
}

.content {
    display: block;
    position: relative;
    margin: auto;
    padding: 2em;
    background-color: #283;
    font: 125%/150% "Verdana", sans-serif;
    text-align: center;
    border: solid .25em #555;
    border-radius: 2em;
    max-width: 40em;
    width: 40%;
    clear: left;
}

/*
 *  HEADER FORMATTING
 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* position header based on user login status */
ul.in {
    float: left;
    margin: 1em auto 2em auto;
}

ul.out {
    float: right;
}

/* navigation buttons */
nav ul li {
    float: left;
}

a:link, a:visited {
    text-decoration: none;
    color: #8e9;
}

a:hover, a:active {
    text-decoration: underline;
}

.button, nav a {
    display: block;
    background-color: #283;
    text-align: center;
    font-weight: bold;
    padding: .5em 1em .5em 1em;
    margin: auto;
    border: solid 2px #555;
    border-radius: 1em;
}

nav a:link, nav a:visited {
    color: #cfc;
    margin: 0 .5em 0 .5em;
}

nav a:hover, nav a:active {
    background-color: #cfc;
    color: #283;
    text-decoration: none;
}

/* make profile button stand out a little more */
a#profile:link, a#profile:visited {
    background-color: #ed8;
    color: black;
}

a#profile:hover, a#profile:active {
    background-color: black;
    color: white;
}

/* generic "buttons" (not just in header) */
a.button:link, a.button:visited {
    background-color: #004;
    color: #ccc;
    font-size: 75%;
    margin: auto;
}

a.button:hover, a.button:active {
    background-color: #ccc;
    color: #008;
    text-decoration: none;
}

/* h1 tag is pretty much only used in header */
h1 {
    display: block;
    background-color: #008;
    color: #ccf;
    text-align: center;
    min-width: 5em;
    width: 10%;
    padding: 1em;
    margin: 1em auto 1em auto;
    border: solid 5px #222;
    border-radius: 1em;
    clear: none;
}

/* again changes based on user login status */
h1.in {
    position: relative;
    float: right;
    background-color: #ccf;
    color: #008;
    width: 25%;
    padding: .75em 0 .75em 0;
    margin: 0;
    clear: none;
}

/*
 *  TABLE ELEMENT FORMATTING
 *    Note: I could not prevent table elements
 *    from extending past their container element
 *    and I forgot to ask on Piazza. :( sorry
 */
table {
    position: relative;
    margin: auto;
    table-layout: fixed;
}

td {
    text-align: left;
}

td.prompt {
    text-align: right;

}


/*
 *  TEXT ELEMENT FORMATTING
 */

.post {
    padding: .25em 1em .25em 1em;
    border: 1px solid black;
    border-radius: 1.5em;
}

#user_list {
    display: block;
    position: relative;
    margin: auto;
}

#user_list .username, #user_list .button {
    margin: 1em;
}

/* headers within content usually h2 or smaller */
h2, h2 a:link, h2 a:visited, h3 {
    color: black;
}

/* reduce visibility on timestamps and delete links */
.timestamp, .delete {
    font-size: 75%;
    color: black;
}

.username, .username:link, .username:visited {
    color: black;
    font-weight: bold;
}

.err_msg {
    color: #600;
    font-size: 85%;
}

.warning {
    color: #a00;
    font: italic 75% 'Verdana', sans-serif;
    margin: 1em auto 1em auto;
    width: 75%;
}

.confirmation {
    display: block;
    position: relative;
    background-color: black;
    color: white;
    font: 100%/125% "Verdana", sans-serif;
    text-align: center;
    margin: auto auto 2em auto;
    padding: 1em;
    border: solid 2px #555;
    border-radius: 2em;
    min-width: 15em;
    max-width: 30em;
    width: 25%;
    clear: left;
}

em {
    font-weight: bold;
    font-style: normal;
}
