body {
//    background: url("/images/green_tiles.jpg");
    background-color: black;
    font: 100%/125% "Verdana", sans-serif;
    color: #cfc;
}

.content {
    display: block;
    position: relative;
    margin: auto;
    padding: 2em;
    background-color: #080;
    font: 125%/150% "Verdana", sans-serif;
    text-align: center;
    border: solid .25em #555;
    border-radius: 2em;
    min-width: 15em;
    max-width: 30em;
    width: 35%;
    clear: left;
}

em {
    font-weight: bold;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.in {
    float: left;
    margin: 1em auto 2em auto;
}

ul.out {
    float: right;
}

nav ul li {
    float: left;
}

a:link, a:visited {
    text-decoration: none;
    color: #9c9;
}

a:hover, a:active {
    text-decoration: underline;
}

.button, nav a {
    display: block;
    background-color: #080;
    text-align: center;
    font-weight: bold;
    padding: .5em 1em .5em 1em;
    margin: auto;
    max-width: 6em;
    border: solid 2px #555;
    border-radius: 1em;
}

a.button:link, a.button:visited {
    background-color: #004;
    color: #ccc;
    font-size: 75%;
    margin: auto;
}

a.button:hover, a.button:active {
    background-color: #ccc;
    color: #008;
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: #adc;
    margin: 0 .5em 0 .5em;
}

nav a:hover, nav a:active {
    background-color: #cfc;
    color: #080;
    text-decoration: none;
}

h1 {
    display: block;
    background-color: #008;
    color: #ccf;
    text-align: center;
    min-width: 5em;
    width: 10%;
    padding: 1em;
    margin: 1em auto 1em auto;
    border: solid .25em black;
    border-radius: 1em;
    clear: none;
}

h1.in {
    position: relative;
    float: right;
    background-color: #ccf;
    color: #008;
    width: 25%;
    padding: .75em 0 .75em 0;
    margin: 0;
    clear: none;
}

h2, h2 a:link, h2 a:visited {
    color: black;
}

.timestamp {
    font-size: 75%;
    color: black;
}

.username, .username:link, .username:visited {
    color: black;
}
